{% extends 'base.html' %}

{% block content %}

{% if locations %}
    <div class="row mt-5">
        <div class="col-sm-8 mx-auto black-bg">
            <h1 class="mt-4 mb-0 text-center">{{ actor }}</h1>
            <p class="text-center mt-0">Actor</p>

            {% if imdb %}
                <div class="row mx-auto my-3">
                    {% if imdb.image.thumb %}
                        <div class="col-md-3 text-center">
                            <img src="{{ imdb.image.thumb }}" class="img-fluid actor-thumbnail mb-3">
                        </div>
                    {% endif %}

                    <div class="col-md-9">
                        <p>{{ imdb.description }} <a href="http://www.imdb.com/name/{{ imdb.person_id }}/bio" target="_blank">See more at IMDB <i class="fas fa-chevron-right"></i></a></p>
                    </div>
                </div>
            {% endif %}

            <p>The actor had filmed in {% if locations|length > 1 %}these{% else %}this{% endif %} location{{ locations|pluralize:'s' }} in San Francisco:</p>

            <table class="table" width="100%">
                <tbody>
                    {% for location in locations %}
                        <tr>
                            <td>
                                <a href="javascript:void(0)" 
                                   class="location-link"
                                   data-location="{{ location.locations }}"
                                   data-target="#mapModal"
                                   data-toggle="modal">{{ location.locations }}</a>
                            </td>

                            <td align="right"><a href="{% url 'movies:movie' %}?title={{ location.title|urlencode }}">{{ location.title }} ({{ location.release_year }})</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
               
        </div>
    </div>
{% else %}
    <p>The actor had no record of any specific filming location in SF.</p>
{% endif %}

{% include 'includes/map_modal.html' %}
{% endblock %}