{% extends 'base.html' %}
{% load movies %}

{% block content %}
    
<div class="row mt-5">
    <div class="col-sm-8 mx-auto black-bg mb-5">
        <h1 class="mt-4 mb-0 text-center">{{ movie.title }}</h1>
        <p class="text-center mt-0">Movie | {{ movie.release_year }}</p>

        {% if imdb.Response != 'False' %}
            <div class="row mx-auto my-3">
                <div class="col-md-3 text-center">
                    {% if imdb.Poster != 'N/A' %}
                        <img src="{{ imdb.Poster }}" class="img-fluid actor-thumbnail mb-3">
                    {% endif %}
                </div>

                {% if imdb.Poster == 'N/A' %}
                    <div class="col-xs-12">
                {% else %}
                    <div class="col-md-9">
                {% endif %}

                    <p>{{ imdb.Plot|truncatewords:120 }} <a href="https://www.imdb.com/title/{{ imdb.imdbID }}/" target="_blank">See more at IMDB <i class="fas fa-chevron-right"></i></a></p>

                    {% if imdb.imdbRating != 'N/A' %}
                        <p>Rating: <span class="imdb-rating {{ imdb.imdbRating|imdb_rating_color }}">{{ imdb.imdbRating }}</span></p>
                    {% endif %}

                    {% if imdb.Actors %}
                        <!-- <p><span class="sub-title">Actors</span><br />{{ imdb.Actors }}</p> -->
                    {% endif %}
                </div>
            </div>
        {% endif %}

        <div class="row mx-auto">
            <div class="col-md-6 mt-3">
                <h2>Actors:</h2>

                <ul>
                    {% for actor in actors %}
                        <li>{{ actor }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-6 mt-3">
                <h2>Filming locations:</h2>

                <ul>
                    {% for location in locations %}
                        <li><a href="javascript:void(0)" 
                               class="location-link"
                               data-location="{{ location }}"
                               data-target="#mapModal"
                               data-toggle="modal">{{ location }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% include 'includes/map_modal.html' %}
{% endblock %}
