<!-- Map modal -->
<div class="modal fade map-modal" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mapModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="map-wrapper">
            <div id="map"></div>
            &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of Map modal -->